<!DOCTYPE HTML>
<html>
  <head>

    <script type="text/javascript">
      function onClickDisplay() {
        // 選択行の行IDを配列で取得
        jQuery('#list').getGridParam('selarrrow');
        var selrows = jQuery('#list').getGridParam('selarrrow');
        var msg = "";

        if (selrows.length > 0)
        {
          for (var i = 0; i < selrows.length; i++)
          {
            // 選択行
            var row = $('#list').getRowData(selrows[i]);
            msg += "invid: ";
            msg += row.invid;
            msg += "\r\n";
          }
        }
        else
        {
          msg = "行を選択してください。";
        }
        alert(msg);
      }

      jQuery(document).ready(function(){ 
        jQuery("#list").jqGrid({
          url:'/jqgrid/invheader',
          datatype: 'xml',
          mtype: 'GET',
          colNames:['番号','名前', '市内電話番号'],　←　表のタイトル
          colModel :[ 
            {name:'id', index:'id', width:55}, 
            {name:'name', index:'name', width:90}, 
            {name:'tel_sinai', index:'tel_sinai', width:80, align:'right'}, 
          pager: jQuery('#pager'),
          rowNum:10,
          rowList:[10,20,30],
          sortname: 'id',
          sortorder: "desc",
          viewrecords: true,
          caption: 'My first grid',
          multiselect: true　←　表の左のチェックボックスの表示
        }); 
      }); 
    </script>
  </head>
  <body>
    <table id="list" class="scroll"></table>
    <div id="pager" class="scroll" style="text-align:center;"></div>
    <input type="button" value="選択行を表示" onclick="onClickDisplay();" />
  </body>
</html>